
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url("colors/color-gold.css");


/* #Panel
================================================== */
@font-face {
	font-family: 'badaboom';
	src: url(../css/font/BADABB__.TTF);
	font-style: normal;
	font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* #PAGE LOAD */

body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #EEEEEE;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #FFFFFF;
    font-family: Impact, Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: -90px 0px 0px -90px;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 80px;
    width: 180px;
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    position: absolute;
	font-family: 'Sifonn-Basic';
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:uppercase;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    letter-spacing: 3px;
    font-size: 36px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0px 0px -40px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #072E77;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}



/* #Home
================================================== */

#home{
    position: relative;
    background:url('../image/homeBg.png');
 /*   background-color: black;*/
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    overflow:hidden;
    z-index:2;
}
.big-text { 
	position: absolute; 
	left:0;
	top:50%;
	margin-top:-25px;
	width:100%;
	font-family: 'Sifonn-Basic';
	text-shadow: 0 0 15px rgba(0,0,0,0.6);
	text-transform:uppercase;
	text-align:center;
	font-size: 60px; 
	line-height:60px;
	z-index: 200; 
}
.big-text span{ 
	padding-top:15px;
	padding-bottom:25px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.small-text { 
	position: absolute;
	left:0;
	top:50%;
	margin-top:70px;
	width:100%;
	color:#fff;
	font-family: 'Satisfy', cursive;
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-align:center;
	font-size: 20px; 
	line-height:20px;
	font-weight: 100;
	z-index: 200; 
}
.small-text a {
	position: relative;
	display: inline-block;
	outline: none;
	text-align:left;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 20px;
}
.small-text a:hover,
.small-text a:focus {
	outline: none;
}
.cl-effect-5 a {
	overflow: hidden;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	padding-top:10px;
	padding-bottom:10px;
	content: attr(data-hover);
	text-align:left;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}



.flippy {
position: relative;
}
.flippy > * {
position: absolute;
opacity: 0;
width:100%;
top:-100px;
}
.flippy > *:first-child {
opacity: 1;
top: 0;
}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('font/flexslider-icon.eot');
	src:url('font/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('font/flexslider-icon.woff') format('woff'),
		url('font/flexslider-icon.ttf') format('truetype'),
		url('font/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;} 
 
/* #Media Queries
================================================== */


@media only screen and (max-width: 800px) {
h1 { font-size: 28px; line-height:28px; }
.header-text p{
	padding-top:50px;
} 
.header-shadow-text{
	margin-top:-20px;
	font-size: 40px;
	line-height:40px;
}
#royal_preloader.text .loader {
    letter-spacing: 2px;
    font-size: 26px;
}

}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
.big-text { 
	margin-top:-20px;
	font-size: 50px; 
	line-height:50px; 
} 
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.big-text { 
	margin-top:-10px;
	font-size: 40px; 
	line-height:40px; 
} 
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.big-text { 
	margin-top:0;
	font-size: 25px; 
	line-height:25px; 
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.big-text { 
	margin-top:5px;
	font-size: 17px; 
	line-height:17px; 
}
}

@media only screen and (max-width: 319px) {
.big-text { 
	margin-top:10px;
	font-size: 12px; 
	line-height:12px; 
}
}



/* #Font-Face
================================================== */



@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sifonn-Basic';
    src: url('font/Sifonn-Basic.eot');
    src: url('font/Sifonn-Basic.eot?#iefix') format('embedded-opentype'),
         url('font/Sifonn-Basic.woff') format('woff'),
         url('font/Sifonn-Basic.ttf') format('truetype'),
         url('font/Sifonn-Basic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sifonn-Basic-Outline';
    src: url('font/Sifonn-Basic-Outline.eot');
    src: url('font/Sifonn-Basic-Outline.eot?#iefix') format('embedded-opentype'),
         url('font/Sifonn-Basic-Outline.woff') format('woff'),
         url('font/Sifonn-Basic-Outline.ttf') format('truetype'),
         url('font/Sifonn-Basic-Outline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*COUNTDOWN*/

.countdownbody{ 
    font: normal 13px/20px badaboom, Helvetica, sans-serif; word-wrap:break-word;
    color: #eee;
    background: #030000;
    position: relative;bottom: 15%;left: 2.5%; align-items: center;
}
#countdown{
    width: 27%;
    height: 112px;
    text-align: center;
    background: #f05e23;
    font-family: 'badaboom';
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 24px 0;
    position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
    content:"";
    width: 8px;
    height: 65px;
    background: #FFC510;
    background-image: -webkit-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510); 
    background-image:    -moz-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    background-image:     -ms-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    background-image:      -o-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    border: 1px solid #111;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    position: absolute;
    top: 48px; left: -10px;
}

#countdown:after{
    content:"";
    width: 8px;
    height: 65px;
    background: #FFC510;
    background-image: -webkit-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510); 
    background-image:    -moz-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    background-image:     -ms-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    background-image:      -o-linear-gradient(top, #FFC510, #FFC510, #FFC510, #FFC510);
    border: 1px solid #111;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: block;
    position: absolute;
    top: 48px; right: -10px;
}

#countdown #tiles{
    position: relative;
    z-index: 1;
}

#countdown #tiles > span{
    width: 92px;
    max-width: 92px;
    font: bold 48px 'badaboom', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee); 
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 18px 0;
    display: inline-block;
    position: relative;
}

#countdown #tiles > span:before{
    content:"";
    width: 100%;
    height: 13px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    font-family: 'badaboom';
    top: 41%; left: -3px;
    z-index: -1;
}

#countdown #tiles > span:after{
    content:"";
    width: 100%;
    height: 1px;
    background: #eee;
    border-top: 1px solid #333;
    display: block;
    font-family: 'badaboom';
    position: absolute;
    top: 48%; left: 0;
}

#countdown .labels{
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
}

#countdown .labels li{
    width: 102px;
    font: bold 17px 'badaboom', Arial, sans-serif;
    color: #ffe200;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
.tagline {
    position: relative;
    bottom: 50%;
}
@media screen and (max-width: 450px) {
    .tagline {
        bottom: 45%;
        left: -6%;
    }
    .flippy li span {
        font-size: 25px;
    }
    .countdownbody {
        bottom: 20%;
    }
    input {
        font-size: 40px !important;
    }
    #countdown {
        width: 88%;
        height: 100px;
    }
}











